
body {
    background-image: url('https://i.imgur.com/DEPvTPZ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.row {
    flex-direction: row;
}

.charBox {
    padding: 5px;
    margin: 25px;
    background-color: rgb(119, 136, 153, .5);
    border: 1px solid #888888;
}

.charTitle, .charScore {
    margin: 10px;
}



 .charPick {
     /* background-color: red; */
 }


 .red {
    background-color: rgb(255, 0, 0, .5);
 }

 .black {
    background-color: rgb(0, 0, 0, .5);
    color: white 
}

.white {
    background-color: rgb(255, 255, 255, .5);
    color: black 
}